<!DOCTYPE HTML>

<html>
<head>
    <title>RBC Robots Shop</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css' rel='stylesheet' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
</head>
<body>

<div class="container" ng-app="app" ng-controller="robotController">
    <div class="jumbotron jumbotron-fluid">
        <div class="container text-center">
            <h1 class="display-4">Welcome to the RBC Robots Shop <span class="robot-emoji" style="font-size: 1.2em;">🤖</span></h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <h5 class="card-header" id="add-new-robot-section">Add a new robot</h5>
                <div class="card-body">
                    <form class="form-horizontal" name="robotForm" ng-submit="submitForm()">
                        <div class="form-group">
                            <input type="text" class="form-control" id="robot-name" placeholder="Name of the robot" ng-model="name" required="required"/>
                        </div>
                        <div class="form-group">
                            <input type="number"  min="0" max="10000" class="form-control" id="robot-quantity" placeholder="Quantity" ng-model="quantity" required="required" />
                        </div>
                        <div class="form-group">
                            <input type="number" min="0" max="10000" step="0.01" class="form-control" id="robot-price" placeholder="Price" ng-model="price" required="required" />
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="robot-image-url" placeholder="Image URL (500x500)" ng-model="imageUrl" required="required" />
                        </div>
                        <button id="action-btn" type="submit" class="btn btn-primary" ng-disabled="robotForm.$invalid">Create</button>
                        <button type="button" class="btn btn-warning" ng-show="id" ng-click="cancelEdit()">Cancel</button>

                        <div class="col-sm-offset-2 col-sm-10">
                            <p>{{postResultMessage}}</p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <h5 class="card-header">Find a robot</h5>
                <div class="card-body">
                    <form class="form-horizontal" name="FindRobotForm" ng-submit="findRobot()">
                        <div class="form-group">
                            <input type="number" class="form-control" id="robot-id" placeholder="ID of the robot" ng-model="robotId" required="required"/>
                        </div>
                        <button type="submit" class="btn btn-primary" ng-disabled="FindRobotForm.$invalid">Find</button>
                        <button type="button" class="btn btn-warning" ng-show="robotId" ng-click="cancelFind()">Cancel</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row robots-listing text-center ng-cloak">
        <div ng-show="robots.length == 0" class="col-md-12 text-center" style="margin-top: 40px;">
            <h3>No robots found.</h3>
            <img src="https://www.logostack.com/wp-content/uploads/designers/Manudesign/sad-robot_logoturn2-600x420.png" alt="Sad Robot" style="width: 100%;" />
        </div>

        <div class="col-md-3 card" style="margin-top:10px;" ng-repeat="robot in robots">
            <img class="card-img-top rounded float-left" src="{{robot.imageUrl}}" alt="{{robot.name}}" />
            <div class="card-body">
                <h5 class="card-title">{{robot.name}}</h5>
                <p class="card-text">
                    <span class="badge badge-light">{{robot.price}} $</span>
                    <span class="badge badge-light">{{robot.quantity}} item(s) left</span>
                </p>
                <button type="button" class="btn btn-primary" ng-click="editRobot(robot.id)"><i class="fa fa-edit"></i></button>
                <button type="button" class="btn btn-danger" ng-click="deleteRobot(robot.id)"><i class="fa fa-trash"></i></button>
            </div>
        </div>
    </div>

</div>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="/js/RobotController.js"></script>
</body>
</html>